name: Test Yocto build

on:
  - push
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/siemens/kas/kas:5.0
      options: --user root
    steps:
      - uses: actions/checkout@v5
      - run: |
          kas build test-build.yml
