name: Test Yocto build

on:
  - push
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
      - run: |
          pip install kas
      - run: |
          kas-container build test-build.yml
